body {
    margin: 0;
}

img {
    width: 100%;
    max-width: 500px;
}

div.hotpink {
    color: hotpink;
}

#navigation{
    background-color: blanchedalmond;
    position: fixed;
    width: 100vw;
}

#navigation > ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#navigation li {
    margin: 0 10px 0 0;
    display: inline;
}

#content p + ul{
background-color: hotpink;
}

#navigation .container{
    margin: 0 auto;
}

#content li{
    background-color: chartreuse;
}

#content li:first-child {
    background-color: aqua  
}

#content li:last-child{
    background-color: purple;
}

#content li:nth-child(2){
    background-color:red;
}

#content li:nth-child(3n){
    background-color: burlywood;
}

#header{
    padding: 10px;
    background-color: silver;
}

#content{
    padding: 10px;
    background-color: mediumspringgreen;
}

#footer{
    padding: 10px;
    background-color: lightcoral;
}

#footer > ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#footer ul > li {
    margin-right: 10px;
    display: inline;
}

h3{
    font-size: 25px;
    font-style: italic;     
}

.container{
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
}
