body {
    margin: 0;
}

#navigation{
    background-color: blanchedalmond;
}

#navigation > ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

#navigation ul > li {
    margin-right: 10px;
    display: inline;
}

#header{
    padding: 10px;
    background-color: silver;
}

#content{
    padding: 10px;
    background-color: mediumspringgreen;
}

#footer{
    padding: 10px;
    background-color: darkorchid;
}

h3{
    font-size: 25px;
    font-style: italic;     
}

p{
    background-color:silver;     
}

.MakeOR {
    font-style: italic;
}

#boldlinky{
    font-weight:bold;
}
